---
import Container from "@components/container.astro";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import Dropdown from "./dropdown.astro";

const menuitems = [
  {
    title: "Free Math PSLE 10 Year Series",
    path: "#psle-series",
    onclick: "openPSLESeriesPopup()",
  },
  {
    title: "Free 1 on 1 Session Trial",
    path: "#free-1-on-1-session-trial",
    onclick: "openTuitionClassesPopup()",
  },
  { title: "Free Exam Papers", path: "/free-exam-papers" },
  {
    title: "Free Exam Paper Analysis",
    path: "https://ez1.sg/analysis",
    newTab: true,
  },
  {
    title: "Schedule",
    path: "/schedule",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<div id="site-header" class="sticky top-0 z-40 bg-background">
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center py-5">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="flex items-center">
            <img
              src="/header_bg_invis.png"
              alt="EzWin Academy"
              class="h-12 w-auto object-contain"
              loading="lazy"
            />
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        onclick={item.onclick}
                        target={item.newTab ? "_blank" : undefined}
                        rel={item.newTab ? "noreferrer" : undefined}
                        class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                        <span> {item.title}</span>
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</div>

<style>
  .announcement-offer {
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  .announcement-offer.active {
    transform: translateX(0);
    opacity: 1;
  }
  .announcement-offer.prev {
    transform: translateX(-100%);
    opacity: 0;
  }
  .announcement-offer.next {
    transform: translateX(100%);
    opacity: 0;
  }
</style>
